.settingsicon {
  align-self: flex-end;
}

.HtmlBody {
  display: flex;
  background-color: grey;
  height: 100000% !important;
  margin: -1.3% 0 0 0;
}
.header1 {
  background-color: black;
  width: 100%;
  height: 113%;
  margin: 0 5rem 0 -2.2rem;
}
