body {
  background: linear-gradient(90deg, blue, black);
}

h1 {
  color: white;
}

.todoHeader {
  align-items: center;
  text-align: center;
}

.createMessageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CreateMessageButtonDiv {
  display: flex !important;
  flex-direction: row;
}

.CreateMessageButtonDiv button {
  background: green ;
  color: white;
  height: 1.25rem;
  margin-top: 2rem;
  border: none;
  text-decoration: none;
}

.CreateMessageButtonDiv button:hover {
  background-color: greenyellow !important;
}

.messagePar {
  background: white;
  width: 5rem;
  padding-left: 2rem;
  /* padding: 0 10rem 0 10rem; */
}

textarea {
  resize: none;
  height: 1rem;
  margin: 2rem 0 0 0;
  border: none;
}

.messageContent {
  display: flex;
  flex-direction: row;
}

.messageContent button {
  color: white;
  height: 1.13rem;
  margin-top: 1rem;
  border: none;
}
.doneButton {
  background-color:rgba(172, 255, 47, 0.679) ;
}
.delButton {
    background-color: red;
}
