/* App.css */
.app {
  text-align: center;
  padding: 2rem;
  background-color: #f0f0f0;
  min-height: 100vh;
}

h1 {
  color: #000000;
}
/* FlashCard.css */
.flashcard {
  width: 25rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  cursor: pointer;
  background-color: #000000;
  transition: transform 0.3s;
}

.flashcard:hover {
  transform: scale(1.05);
}
/* FlashCardList.css */
.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
